<%- include('./partials/header.ejs') %>

<canvas id="source" height="500px" width="750px"></canvas>
<button>Send</button>
<canvas id="destination" height="500px" width="750px"></canvas>

<script src="js/app.js"></script>
<%- include('./partials/footer.ejs') %>