<%- include('./partials/header.ejs') %>

<canvas id="source" height="500px" width="750px"></canvas>
<button>Send</button>
<canvas id="destination" height="500px" width="750px"></canvas>

<script src="socket.io/socket.io.js"></script>
<script src="js/send.js"></script>
<%- include('./partials/footer.ejs') %>